﻿@model ProjectManagementLayer.ViewModels.HomeIndexViewModel
<h2>Welcome @Model.UserName</h2>
<p>Your tasks are the followings</p>
<table id="tasks" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Project Name</th>
            <th>Deadline</th>
            <th>Task is Done</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            if (task.TIsDone == false)
            {
                <tr>
                    <td>@Html.ActionLink((string)task.TName, "Edit", "Task", new { id = task.TId }, null)</td>
                    <td>@task.TComment</td>
                    <td>@Html.ActionLink(Model.Projects.Where(project => project.PId == task.T_PId).Single().PName, "Index", "Task", new { id = Model.Projects.Where(project => project.PId == task.T_PId).Single().PId }, null)</td>
                    <td>@Model.Projects.Where(project => project.PId == task.T_PId).Single().PDeadline</td>
                    <td><button class="btn-link js-done" data-project-id="@task.TId">Done</button></td>
                </tr>}
            }
    </tbody>
</table>
<h3>Finished task list:</h3>
<table id="tasksdone" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Details</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
		$(document).ready(function () {
		    var firstTable = $("#tasks").DataTable().order( [[ 3, 'asc' ]] ).draw();
		    //uninitialize datatable
		    var table = $("#tasksdone").DataTable({
		        ajax: {
		            url: "/api/tasks/" + "1" + "/@HttpContext.Current.User.Identity.Name/",
		            dataSrc: "",
		            complete: function () {
		                //ezzel lehet még a kiiratás előtt modositani
		            }
		        },
		        columns: [
                    {
                        data: "tName",
                        render: function (data, type, task) {
                            return "<a href='/task/edit/" + task.tId + "'>" + task.tName + "</a>";
                        }
                    },
                    {
                        data: "tComment"
                    },
                    {
                        data: "tId",
                        render: function (data) {
                            return "<button class='btn-link js-details' data-project-id=" + data + ">Details</button>";
                        }
                    },
                    {
                        data: "tId",
                        render: function (data) {
                            return "<button class='btn-link js-modify' data-project-id=" + data + ">Modify</button>";
                        }
                    }
		        ]
		    });

		    $("#tasks").on("click", ".js-done", function () {
		        var button = $(this);
		        $.ajax({
		            url: "/api/tasks/isdone/" + button.attr("data-project-id"),
		            method: "GET",
		            success: function () {
		                $.ajax({
		                    url: "/api/tasks/gettask/" + button.attr("data-project-id"),
		                    method: "GET",
		                    success: function (result) {
		                        //var rowNode = table.row.add(result).draw().node();
		                        var rowNode = table.row.add({
		                            "tName": result.tName,
		                            "tComment": result.tComment,
		                            "tId": result.tId,
                                    "t.Id": result.tId
		                        }).draw().node();
		                        $(rowNode).css('background', 'yellow').animate({ color: 'black' });
		                    }
		                });
		                firstTable.row(button.closest("tr")).remove().draw();
		            },
		            error: function () {
		                bootbox.alert("Már hozzá van adva a listához vagy az előfeltétele nem teljesül!");
		            }
		        });
		    });
		});
    </script>
}
