﻿@model ProjectManagementLayer.Models.UserModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@using (Html.BeginForm("Save", "Home"))
{
    @Html.ValidationSummary(true, "Please fix the folowing errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.UName)
        @Html.TextBoxFor(m => m.UName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UPassword)
        @Html.TextBoxFor(m => m.UPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UBdate)
        @Html.TextBoxFor(m => m.UBdate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UBdate)
    </div>
    @Html.HiddenFor(m => m.UId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
