﻿@model ProjectManagementLayer.Models.UserModel
@{
    ViewBag.Title = "Details";
}
<h2></h2>
<ul>
    <li>A user neve: <strong>@Model.UName</strong></li>
    <li>A user regisztrációjának időpontja: <strong>@Model.UBdate</strong></li>
</ul>
