﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Projects", "Index", "Functions", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Tasks", "Task", "Project", new { area = "" }, null)</li>
            </ul>
        </div>
    </div>
</div>

