﻿@model List<ProjectManagementLayer.Models.UserModel>
@{
	ViewBag.Title = "All Tasks";
}

<h2>Felvett Taskok</h2><br />
<table id="tasks" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Task Name</th>
			<th>Description</th>
			<th>User</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

@section scripts
{
	<script>
		$(document).ready(function () {
			var table = $("#tasks").DataTable({
				ajax: {
					url: "/api/tasks/admin" ,
					method: "GET",
					dataSrc: ""
				},
				columns: [
					{
						data: "tName"
					},
					{
						data: "tComment"
					},
					{
						data: "t_uId" ,
						render: function (data, type, task) {
							return "<button class='btn-link js-user' data-project-id=" + data + ">User</button>";
						}
					},
					{
						data: "tId",
						render: function (data) {
							return "<button class='btn-link js-details' data-project-id=" + data + ">Details</button>";
						}
					}
				]
			});

			$("#tasks").on("click", ".js-delete", function () {
				var button = $(this);

				bootbox.confirm("Are you sure to delete this project?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/tasks/" + button.attr("data-project-id"),
							method: "DELETE",
							success: function () {
								table.row(button.closest("tr")).remove().draw();
							}
						});
					}
				});
			});

			$("#tasks").on("click", ".js-details", function () {
				var button = $(this);
				window.location.href = ("/Task/Details/" + button.attr("data-project-id"))
			});

			$("#tasks").on("click", ".js-user", function () {
				var button = $(this);
				window.location.href = ("/User/Details/" + button.attr("data-project-id"))
			});

			$("#tasks").on("click", ".js-add", function () {
				var button = $(this);
				bootbox.confirm("Are you sure to add this project?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/tasks/gettask/" + button.attr("data-project-id"),
							method: "GET",
							success: function (task) {
								alert("Sikeres lekérés");
								$.ajax({
									url: "/api/tasks/modifyuser",
									method: "PUT",
									data: {tId : task.tId, t_uId : 10},
									success: function () {
										bootbox.alert("Sikeres modositás");
									}
								});
							}
						}).done(function () {
							$.ajax({
								url: "/api/tasks/gettask/" + button.attr("data-project-id"),
								method: "GET",
								success: function (gettask) {
									bootbox.alert("Az új userId: " + gettask.t_uId);
								}
							});
						});
					}
				});
			});
		});
	</script>
}
