﻿@model ProjectManagementLayer.ViewModels.TaskDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h3>@Model.TaskModel.TName</h3>
<ul>
    @if (@Model.TaskModel.TIsArchived)
    {
        <li><strong>A task archivált.</strong></li> }
    @if (@Model.TaskModel.TIsDone)
    {
        <li><strong>A task kész van.</strong></li> }
    <li>A taskhoz tartozó projekt: @Model.TaskModel.T_PId</li>
    <li>A task leirása leirása: @Model.TaskModel.TComment</li>
    @if (Model.RequiredTask != null)
    {
        <li>A task előfeltétele: @Html.ActionLink(@Model.RequiredTask.TName, "Details", "Task", new { id = Model.RequiredTask.TId }, null)</li>
    }
    else
    {
        <li>A tasknak nincsen előfeltétele.</li>
    }
</ul>
