﻿@model ProjectManagementLayer.ViewModels.TaskIndexViewModel
@{
	ViewBag.Title = "Available Tasks";
}

<h2>Felvehető Taskok</h2><br />
<table id="tasks" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Task Name</th>
			<th>Description</th>
			<th>Add</th>
			<th>Details</th>
			<th>Delete</th>
            <th>Felvett</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<form action="http://localhost:1801/Task/New/@Model.ProjectId/"><input type="submit" value="Add new Task" /></form><br />
<checkbox></checkbox>

@section scripts
{
	<script>
        $(document).ready(function () {
            var table = $("#tasks").DataTable({
                ajax: {
                    url: "/api/tasks/" + @Model.ProjectId ,
                    method: "GET",
                    dataSrc: ""
                },
                columns: [
					{
					    data: "tName",
					    render: function (data, type, task) {
					        return "<a href='/Task/Edit/" + task.tId + "'>" + task.tName + "</a>";
					    }
					},
					{
					    data: "tComment"
					},
					{
					    data: "tId",
					    render: function (data) {
					        return "<button class='btn-link js-add' data-project-id=" + data + ">Add</button>";
					    }
					},
					{
					    data: "tId",
					    render: function (data) {
					        return "<button class='btn-link js-details' data-project-id=" + data + ">Details</button>";
					    }
					},
					{
					    data: "tId",
					    render: function (data) {
					        return "<button class='btn-link js-delete' data-project-id=" + data + ">Delete</button>";
					    }
					},
                    {
                        data: "t_uId",
                        render: function ( data, type, user ) {
                            if ( user != null ) {
                                return '<input type="checkbox" id="AssignedUser" class="editor-active js-check" checked>';
                            }
                            return '<input type="checkbox" class="editor-inaktiv">';
                        }
                    }
                ],
            });

            $("#tasks").on("change", ".js-check" ,function() {
                if(this.checked) {
                    bootbox.alert("VÁltozásss!!!");
                }
            });

			$("#tasks").on("click", ".js-delete", function () {
				var button = $(this);

				bootbox.confirm("Are you sure to delete this project?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/tasks/" + button.attr("data-project-id"),
							method: "DELETE",
							success: function () {
								table.row(button.closest("tr")).remove().draw();
							}
						});
					}
				});
			});

			$("#tasks").on("click", ".js-details", function () {
				var button = $(this);
				window.location.href = ("/Task/Details/" + button.attr("data-project-id"))
			});

			$("#tasks").on("click", ".js-add", function () {
			    var button = $(this);
				bootbox.confirm("Are you sure to add this task?", function (result) {
				    if (result) {
				        $.ajax({
				            url: "/api/tasks/gettask/" + button.attr("data-project-id"),
				            method: "GET",
				            success: function (task) {
				                $.ajax({
				                    url: "/api/tasks/modifyuser",
				                    method: "PUT",
                                    data: {tId : task.tId, t_uId : @Model.UserModel.UId},
				                    success: function () {
				                        bootbox.alert("Sikeres modositás");
				                    }
				                });
				            }
				        }).done(function () {
				            $.ajax({
				                url: "/api/tasks/gettask/" + button.attr("data-project-id"),
				                method: "GET",
				                success: function (gettask) {
				                    bootbox.alert("Az új user: " + gettask.t_uId );
				                }
				            });
				        });
					}
				});
			});
		});
	</script>
}

