﻿@model ProjectManagementLayer.ViewModels.TaskFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>@ViewBag.Name</h2>
@* Ki kell még egésziteni a többi elemmel ami az új project létrehozásához kell *@
@using (Html.BeginForm("Save", "Task"))
{
    @Html.ValidationSummary(true, "Please fix the folowing errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.TaskModel.TName)
        @Html.TextBoxFor(m => m.TaskModel.TName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TaskModel.TName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TaskModel.TComment)
        @Html.TextBoxFor(m => m.TaskModel.TComment, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TaskModel.TComment)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TaskModel.T_PId)
        @Html.DropDownListFor(m => m.TaskModel.T_PId, new SelectList(Model.ProjectModels, "PId", "PName"), "Select Task Maker", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TaskModel.T_PId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TaskModel.TRequirement)
        @Html.DropDownListFor(m => m.TaskModel.TRequirement, new SelectList(Model.TaskList.Where(t => t.T_PId == Model.TaskModel.T_PId), "TId", "TName"), "Select Task Requirement", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TaskModel.TRequirement)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.TaskModel.TIsDone) Would you like to Archive it?
        </label>
    </div>
    @Html.HiddenFor(m => m.TaskModel.TId)
    @Html.HiddenFor(m => m.TaskModel.T_UId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
