﻿
@{
	ViewBag.Title = "AddProject";
}

<h2>Felvehető Projektlista</h2><br />
<table id="projects" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Projects</th>
			<th>Description</th>
			<th>Add</th>
			<th>Details</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<form action="http://localhost:1801/Project/New"><input type="submit" value="Create Project" /></form><br />

@section scripts
{
	<script>
		 $(document).ready(function () {
			var table = $("#projects").DataTable({
				ajax: {
				    url: "/api/projects",
				    dataSrc: "",
				    complete: function () {
                        //ezzel lehet még a kiiratás előtt modositani
				    }
				},
				columns: [
					{
						data: "pName",
						render: function (data, type, project) {
							return "<a href='/project/edit/" + project.pId + "'>" + project.pName + "</a>";
						}
					},
					{
						data: "pComment"
					},
					{
						data: "pId",
						render: function (data) {
							return "<button class='btn-link js-add' data-project-id=" + data + ">Add</button>";
						}
					},
					{
						data: "pId",
						render: function (data) {
							return "<button class='btn-link js-details' data-project-id=" + data + ">Details</button>";
						}
					},
					{
						data: "pId",
						render: function (data) {
							return "<button class='btn-link js-delete' data-project-id=" + data + ">Delete</button>";
						}
					}
				]
			});

			$("#projects").on("click", ".js-delete", function () {
				var button = $(this);
				bootbox.confirm("Biztos, hogy törölni szeretnéd ezt a  projectet?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/projects/" + button.attr("data-project-id"),
							method: "DELETE",
							success: function () {
								table.row(button.closest("tr")).remove().draw();
							},
							error: function () {
							    bootbox.alert("Nincs jogosultságod a törléshez!");
							}
						});
					}
				});
			});

			$("#projects").on("click", ".js-details", function () {
				var button = $(this);
				window.location.href = ("/Project/Details/" + button.attr("data-project-id"))
			});

			$("#projects").on("click", ".js-add", function () {
			    var button = $(this);
				bootbox.confirm("Biztos, hogy hozzá szeretnéd addni a projectlistádhoz?", function (result) {
				    if (result) {
				        $.ajax({
				            url: "/api/projects/" + button.attr("data-project-id") + "/@HttpContext.Current.User.Identity.Name/",
				            method: "GET",
				            success: function () {
				                bootbox.alert("Sikeres hozzáadás");
				            },
				            error: function () {
				                bootbox.alert("Már létezik ilyen kapcsolat! Vagy nem vagy tagja a fejlesztő csapatnak!");
				            }
				        });
					}
				});
			});
		});
	</script>
}
