﻿@model ProjectManagementLayer.ViewModels.ProjectDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h3>@Model.ProjectModel.PName</h3>
<ul>
    @if (@Model.ProjectModel.PIsArchived) {<li><strong>A projekt archivált.</strong></li>}
    <li>A projekt prioritása egy tizes skálán: @Model.ProjectModel.PPriority</li>
    <li>A projektet végző csapat neve: <strong>@Model.GroupModel.GName</strong></li>
    <li>A projekt leirása: @Model.ProjectModel.PComment</li>
</ul>
<h4>A hozzá tartozó taskok</h4><br />
<table id="projects" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Requirements</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.TaskModels)
        {
            <tr>
                <td>@task.TName</td>
                <td>@task.TComment</td>
                @foreach (var item in Model.TaskModels)
                {
                    if (task.TRequirement == item.TId)
                    {
                        <td>A task elvégzéséhez szükséges előfeltétel "@item.TName".</td>
                    }
                    else if (task.TRequirement == null)
                    {
                        <td>A task elvégzésének nincs előfeltétele.</td>
                        break;
                    }
                }
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
		$(document).ready(function () {
			$("#projects").DataTable();

			$("#projects").on("click", ".js-delete", function () {
				var button = $(this);

				bootbox.confirm("Are you sure to delete this project?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/projects/" + button.attr("data-project-id"),
							method: "DELETE",
							success: function () {
								button.closest("tr").remove();
							},
						});
					}
				});
			});
		});
    </script>
}
