﻿
@{
	ViewBag.Title = "Index";
}

<h2>Felvett Projektek</h2><br />
@* Angular megoldás kéne, hogy ha alább az add butonra kattintunk akkor itt csinál egy
tablet anélkül, hogy újragenerálná az oldalt a szerverről. *@	
<table id="projects" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Projects</th>
			<th>Description</th>
			<th>Add Task</th>
			<th>Details</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var project in Model)
		{
			<tr>
				<td>@Html.ActionLink((string)project.PName, "Edit", "Project", new { id = project.PId }, null)</td>
				<td>@project.PComment</td>
				<td><form action="http://localhost:1801/Task/Index/@project.PId"><input type="submit" value="Task List" class="btn-link" /></form></td>
				<td><form action="http://localhost:1801/Project/Details/@project.PId"><input type="submit" value="Details" class="btn-link" /></form></td>
				<td><button data-project-id="@project.PId" class="btn btn-link js-delete">Delete</button></td>
			</tr>
		}
	</tbody>
</table>
<form action="http://localhost:1801/Project/AddProject"><input type="submit" value="Add new Project" /></form><br />

@section scripts
{
	<script>
		$(document).ready(function () {
			$("#projects").DataTable();

            //it a upconnt kellene törölni, nem magát a projektet
			$("#projects").on("click", ".js-delete", function () {
				var button = $(this);

				bootbox.confirm("Biztos, hogy törölni szeretnéd a projectjeid közül?", function (result) {
					if (result) {
						$.ajax({
						    url: "/api/projects/" + button.attr("data-project-id") + "/@HttpContext.Current.User.Identity.Name/",
							method: "DELETE",
							success: function () {
								button.closest("tr").remove();
							},
						});
					}
				});
			});
		});
	</script>
}


