﻿@model ProjectManagementLayer.ViewModels.ProjectFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>@ViewBag.Name</h2>
@* Ki kell még egésziteni a többi elemmel ami az új project létrehozásához kell *@
@using (Html.BeginForm("Save", "Project"))
{
    @Html.ValidationSummary(true, "Please fix the folowing errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectModel.PName)
        @Html.TextBoxFor(m => m.ProjectModel.PName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectModel.PName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectModel.PComment)
        @Html.TextBoxFor(m => m.ProjectModel.PComment, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectModel.PComment)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectModel.PDeadline)
        @Html.TextBoxFor(m => m.ProjectModel.PDeadline, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectModel.PDeadline)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectModel.PPriority)
        @Html.TextBoxFor(m => m.ProjectModel.PPriority, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectModel.PPriority)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectModel.P_GId_Maker)
        @Html.DropDownListFor(m => m.ProjectModel.P_GId_Maker, new SelectList(Model.GroupModel, "Gid", "Gname"), "Select Project Maker", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectModel.P_GId_Maker)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.ProjectModel.PIsArchived) Would you like to Archive it?
        </label>
    </div>
    @Html.HiddenFor(m => m.ProjectModel.PId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
