﻿@model ProjectManagementLayer.Models.GroupModel
@{
    ViewBag.Title = "Group Form";
}

<h2>@ViewBag.Name</h2>
@using (Html.BeginForm("Save", "Group"))
{
    @Html.ValidationSummary(true, "Please fix the folowing errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.GName)
        @Html.TextBoxFor(m => m.GName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GType)
        @Html.TextBoxFor(m => m.GType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GType)
    </div>
    @Html.HiddenFor(m => m.GId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
