﻿@model ProjectManagementLayer.ViewModels.GroupIndexViewModel
@{
	ViewBag.Title = "Groups";
}

<h2>Groups</h2>
<table id="groups" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Properties</th>
            <th>Users</th>
            <th>Projects</th>
            <th>Join</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupModels)
        {
            <tr>
                <td>@group.GName</td>
                <td>@group.GType</td>
                <td id="users">
                    @foreach (var connection in Model.UserGroupModels)
                    {
                        foreach (var user in Model.UserModels)
                        {
                            if (user.UId == connection.UId && group.GId == connection.GId)
                            {
                                <p>@user.UName</p>
                            }
                        }
                    }
                </td>
                <td>
                    @foreach (var project in Model.ProjectModels)
                    {
                        if (project.P_GId_Maker == group.GId)
                        {
                            <p>@project.PName</p>
                        }
                    }
                </td>
                <td><button class="btn-link js-join" data-project-id="@group.GId">Join Group</button></td>
                <td><button class="btn-link js-delete" data-project-id="@group.GId">Delete Group</button></td>
            </tr>
        }
        
    </tbody>
</table>
<form action="http://localhost:1801/group/new"><input type="submit" value="Add new Group" /></form><br />
<checkbox></checkbox>

@section scripts
{
	<script>
        $(document).ready(function () {
            var table = $("#groups").DataTable();

            //Törölni csak a tulajnak lehetne, külön kéne ugconnection törlö ajax
			$("#groups").on("click", ".js-delete", function () {
				var button = $(this);

				bootbox.confirm("Biztos, hogy törölni szeretnéd ezt a csoportot?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/groups/" + button.attr("data-project-id"),
							method: "DELETE",
							success: function () {
								table.row(button.closest("tr")).remove().draw();
							},
							error: function () {
							    bootbox.alert("Nincs jogod törölni a csoportot!");
							}
						});
					}
				});
			});

            //then / promise 
			$("#groups").on("click", ".js-join", function () {
			    var button = $(this);
			    bootbox.confirm("Csatlakozni szeretnél a csapathoz?", function (result) {
			        if (result) {
			            $.ajax({
			                url: "/api/groups/" + button.attr("data-project-id") + "/@HttpContext.Current.User.Identity.Name/",
			                method: "GET",
			                success: function () {
			                    table.redraw(true);
			                },
			                error: function () {
			                    bootbox.alert("Már tagja vagy a csoportnak!");
			                }
			            });
			        }
			    });
			});
		});
	</script>
}
